@font-face {
  font-family: 'Existence-Light';
  src: url(../font/existence/ExiL-OT/Existence-Light.otf);
}
@font-face {
  font-family: 'Existence-StencilLight';
  src: url(../font/existence/ExiSL-OT/Existence-StencilLight.otf)
}

*{
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  transition: all .5s;
}
#home , #main, #rodape {
  display: none;
}
:root{
  /*COR LOGO*/
  --verde-logo: #84BA50;
  --verde-logo-rbga: rgba(132,186,80, .8);
  --amarelo-logo: #F2EC5C;
  --amarelo-logo-rbga: rgba(242,236,92, .8);
  --vermelho-logo: #AA252A;
  --vermelho-logo-rbga: rgba(170,37,42, .8);


  --branco: #fff;
  --preto: #000;
  --vermelho: #e74c3c;
  --preto-transparente: rgba(0, 0, 0, 0.45);
  /*header*/
  --barra-header: #669966;

  /*Modalidades*/
  --background-modalidades: #333333;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
/*Scrollbar*/
::-webkit-scrollbar {
    width: 1%;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--preto);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  transition: all ease .8s;
    background: var(--verde-logo);
}
/*TEST ANIMAÇÃO*/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

/********MOBILE*******/
/*----*HEADER*------*/
header{
  height: 20vh;
  display: flex;
  flex-direction: column;
  background: var(--barra-header);

}
.cabecalho{
  font-family: 'Existence-StencilLight';
  z-index: 99;
  flex: 3;
}
.container-logo{
  margin-top: 5vh;
  margin-left: 10vw;
  width: 30vw;
  height: 20vh;
  background-color: var(--branco);
  box-shadow: 0px 5px 4.92px 1.08px rgba(0, 0, 0, 0.28);
}
.container-logo img{
  height: 100%;
  width: 100%;
}
.container-logo h1{
  width: 100%;
  margin-top: -5%;
  background-color: var(--branco);
  box-shadow: 0px 5px 4.92px 1.08px rgba(0, 0, 0, 0.28)
  border: solid;
  text-align: center;
  font-size: 1rem;
}
.segundo-titulo{
  font-size: .8rem;
}
/*----nav-----*/
#barra-menu{
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 0;
  display: none;
  background: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  transition: all .5s;
}
#barra-menu:active{
  height: 100vh;
  transition-duration: 0.8s;
}
nav a{
  text-align: center;
  width: 50vw;
  padding: 8px;
  font-size: 1.5rem;
  color: var(--branco);
  display: block;
  margin-top: 10%;
  text-align: center;
  border-bottom: solid 2px var(--branco);
  transition: 0.5s;
}
.btn-fechar-menu{
  position: absolute;
  top: 10%;
  text-decoration: none;
  padding: .5rem;
  background: none;
  right: 25px;
  font-size: 3rem;
  margin-left: 50%;
  border: none;
  color: var(--vermelho);
}
/*icon de nav*/
#icon-nav{
  position: fixed;
  z-index: 99;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-left: 80vw;
}
.icon-menu{
  width: 15vw;
}
.rect{
  background: #000;
  height: 15px;
  margin: 7%;
  border-radius: 7px;
}
/*----*MAIN*------*/
main{
  font-family: 'Existence-Light';
}
/*---slideSHOW--*/
/*references: w3*/
#slidesShow {
  height: 50vh;
 }
 #Slides{
   height: 100%;
   width: 100%;
 }
.info-slide{
   position: absolute;
   bottom: 35%;;
   width: 100%;
   height: 15%;
   background: var(--vermelho-logo-rbga);
   color: #fff;
 }
 .title-slide{
   margin-left: 15%;
   width: 30%;
   font-size: 1.3rem;
   border-bottom: solid 2px #fff;
 }
 .desc-slide{
   margin-top: 1%;
   margin-left: 15%;
   font-size: 1rem;
 }
 .btn-slide{
   cursor: pointer;
   position: absolute;
   top: 40%;
   color: #fff;
   background: rgba(0, 0, 0, .8);
   font-size: 3rem;
   display: flex;justify-content: center;align-items: center;
   width: 4%;
   height: 6%;
 }
 .btn-next{
   right: 0;
   border-radius: 50px 0px 0px 50px;
 }
 .btn-preview{
   left: 0;
   border-radius: 50px 0px 0px 50px;
   transform: rotate(180deg);
 }

/*---modalidades---*/

#modalidades{
  background: var(--background-modalidades);
}
.title-modalidades{
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
  width: 50vw;
  font-size: 2rem;
  color: var(--branco);
  border-bottom: solid 3px var(--branco);
}
.container-img-esportes-fundo{
  width:100%;
  position: absolute;
}
.img-primeira{
  transform: rotate(180deg);
  height:100%;
}
.img-segunda{
  height:100%;
  position: absolute;
  right: 0;
}
.container-esportes{
  margin: 0 auto;
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.esportes{
  padding:6rem;
  margin: 10px;
  border-radius: 15px;
}
.btn-mostrar-todos-esportes{
  margin-left: 39.5%;
  margin-bottom: 5%;
  background-color: var(--vermelho-logo);
  border: none;
  border-radius: 15px;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.close{
  display: none;
}
/*IMG - ESPORTES 1 - 12*/
.esportes-um{
  background: url(../img/basquetebol.png) center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.esportes-dois{
  background: url(../img/futsal.png) center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.esportes-tres{
  background: url(../img/handebol.png) center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.esportes-quatro{
  background: url(../img/cabo_de_guerra.png) center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.esportes-cinco{
  background: url(../img/bandeirinha.png) center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.esportes-seis{
  background: url(../img/gincana_de_matematica.png) center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.esportes-sete{
  background: url(../img/tenis_de_mesa.png) center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.esportes-oito{
  background: url(../img/fliperama.png) center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.esportes-nove{
  background: url(../img/xadrez.png) center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.esportes-dez{
  background: url(../img/voleibol.png) center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.esportes-onze{
  background: url(../img/triatlon_de_programacao.png) center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.btn-mostrar-mais-esportes{
  position: absolute;
  top: 150%;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  outline: none;
  padding: 1rem;
  background: #669933
}
#sobre{
  background: url(../img/fundo_sobre.png);
  background-position: 50% 20%;
  background-repeat: no-repeat;
  color: #fff;

}
#sobre h1{
  margin:  0 auto;
  font-size: 2rem;
  width: 50%;
  text-align: center;
  border-bottom: solid 5px #fff;
  padding: 1.5rem;
}
#sobre h2{
    border-bottom: solid 2px;
    text-align: center;
    width: 50%;
    margin:  0 auto;
    font-size: 1.5rem;
    padding: 1rem;
}
.sobre-evento{
  margin-top: 2%;
  background: rgba(52, 100, 33, .8);
}
.sobre-evento p{
  margin: 0 auto;
  text-align: center;
  width: 50vw;
  padding: 2rem;
}
.local{
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
}
.local iframe{
  width: 100%;
  height: 50vh;
}
/*FOOTER*/
footer{
  background: var(--preto);
  height: 55%;
  color: #fff;
}
footer h1{
  font-size: 1rem;
}
.fa {
    padding: 20px;
    margin: .5%;
    font-size: 3rem;
    width: 50px;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    transition: all ease .4s;
}
.fa-facebook {
    background: #3B5998;
    color: #fff;
}
.fa-instagram {
  background: #125688;
  color: #fff;
}
.copyright{
  font-size: .8rem;
  margin-top: 2%;
  text-align: center;
}
.container-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}
.acesso-restrito {
  margin-left: 25%;
  border-bottom: solid 3px #fff;
  color: rgb(240,37,42);
}
.logo-footer{
  width: 15%;
  height: 15%;
}



/*DESKTOP*/
@media screen and (min-width: 940px){
  #icon-nav{
    display: none;
  }
  .btn-fechar-menu{
    display: none;
  }
  header{
    height: 15vh;
  }
  .container-logo{
    height: 20vh;
    width: 20vw;
    margin-right: 15%;

  }
  .cabecalho h1 {
      font-size: 1.4rem;
  }
  .segundo-titulo{
    font-size: 1.2rem;
  }
  #barra-menu{
    position: absolute;
    top: 8vh;
    right: 5vw;
    width: 50vw;
    display: flex;
    flex-direction: row;
  }
  #barra-menu:active{
    height: 0;
  }
  nav a{
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10vw;
  }
  nav a:hover{
    border-bottom: solid 5px ;
    transition: all ease .5s;
  }
  nav ul{
    display: flex;
  }
  nav li{
    margin: 5%;
  }
  .close{
    display: block
  }
  #slidesShow{
    height: 85vh;
  }
  .info-slide{
    bottom: 15%;
  }
  /* MODALIDADES */
  .title-modalidades{
    font-size: 3rem;
  }
  .container-esportes{
    width: 60vw;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .esportes{
    padding: 6rem;
  }
  .btn-mostrar-todos-esportes{
    display: none;
  }
  #sobre h1{
    font-size: 3rem;
  }
  .fa:hover{
    transition: all ease .6s;
    transform: scale(1.1);
  }
}
