@font-face {
  font-family: 'Existence-Light';
  src: url(../font/existence/ExiL-OT/Existence-Light.otf);
}
@font-face {
  font-family: 'Existence-StencilLight';
  src: url(../font/existence/ExiSL-OT/Existence-StencilLight.otf)
}

*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width: 100vw;
  transition: all .5s;
}
:root{
  /*COR LOGO*/
  --verde-logo: #84BA50;
  --verde-logo-rbga: rgba(132,186,80, .8);
  --amarelo-logo: #F2EC5C;
  --amarelo-logo-rbga: rgba(242,236,92, .8);
  --vermelho-logo: #AA252A;
  --vermelho-logo-rbga: rgba(170,37,42, .8);


  --branco: #fff;
  --preto: #000;
  --vermelho: #e74c3c;
  --preto-transparente: rgba(0, 0, 0, 0.45);
  /*header*/
  --barra-header: #669966;

  /*Modalidades*/
  --background-modalidades: #333333;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
/********MOBILE*******/
/*----*HEADER*------*/
header{
  height: 20vh;
  display: flex;
  flex-direction: column;
  background: var(--barra-header);

}
.cabecalho{
  font-family: 'Existence-StencilLight';
  z-index: 99;
  display: flex;
  align-items: center;
  flex: 3;
}
.container-logo{
  flex: 1;
  margin-top: 5vh;
  margin-left: 5vw;
  box-shadow: 0px 5px 4.92px 1.08px rgba(0, 0, 0, 0.28);
  width: 30vw;
  height: 20vh;
  background-color: var(--branco);
}
.container-logo img{
  flex: 1;
  height: 100%;
  width: 100%;
}
.cabecalho h1{
  flex:3;
  text-align: center;
  font-size: 1.5rem;
}
.segundo-titulo{
  font-size: 1.2rem;
}
/*----nav-----*/
#barra-menu{
  position: fixed;

  z-index: 999;
  width: 100vw;
  height: 0;
  display: none;
  background: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  transition: all .5s;
}
#barra-menu:active{
  height: 100vh;
  transition-duration: 0.8s;
}
nav a{
  width: 50vw;
  padding: 8px;
  font-size: 1.5rem;
  color: var(--branco);
  display: block;
  margin-top: 10%;
  text-align: center;
  border-bottom: solid 2px var(--branco);
  transition: 0.5s;
}
.btn-fechar-menu{
  position: absolute;
  top: 10%;
  text-decoration: none;
  padding: .5rem;
  background: var(--preto);
  right: 25px;
  font-size: 3rem;
  margin-left: 50%;
  border: none;
  color: var(--vermelho);
}
/*icon de nav*/
#icon-nav{
  position: fixed;
  z-index: 9999;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 80vw;
}
.icon-menu{
  width: 15vw;
}
.rect{
  background: #000;
  height: 15px;
  margin: 7%;
  border-radius: 7px;
}
/*----*MAIN*------*/
main{
  font-family: 'Existence-Light';
}
/*---slideSHOW--*/
#ninja-slider .caption{
}
.slider-inner a{
   -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.caption{
  background: var(--vermelho-logo-rbga);
}
/*---modalidades---*/
#modalidades{
  background: var(--background-modalidades);
  height: 100vh;
}
.title-modalidades{
  text-align: center;
  margin-left: 25vw;
  width: 50vw;
  font-size: 2rem;
  color: var(--branco);
  border-bottom: solid 3px var(--branco);
}
.container-img-esportes-fundo{
  height: 100vh;
  width:98vw;
  margin: 0 auto;
  position: absolute;
}
.img-primeira{
  transform: rotate(180deg);
  height:100vh;
}
.img-segunda{
  height:100vh;
  position: absolute;
  left: 85vw;
}
.container-esportes{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.esportes{border: solid red;
  z-index: 8;
  width: 50vw;
  margin: 2%;
  border-radius: 15px;
}
.esportes p{
  text-align: center;
  font-size: 1.5rem;
  color: var(--branco);
}
/*IMG - ESPORTES 1 - 12*/
.esportes-um{border: solid yellow;
  background: url(../img/esporte1.png) center center;
  background-repeat: no-repeat;
}
.esportes-dois{border: solid black;
  background: url(../img/esporte2.png) center center;
  background-repeat: no-repeat;
}
.esportes-tres{border: solid pink;
  background: url(../img/esporte3.png) center center;
  background-repeat: no-repeat;
}
.esportes-quatro{
  background: url(../img/esporte4.png) center center;
  background-repeat: no-repeat;
}
.esportes-cinco{
  background: url(../img/esporte5.png) center center;
  background-repeat: no-repeat;
}
.esportes-seis{
  background: url(../img/esporte6.png) center center;
  background-repeat: no-repeat;
}
.esportes-sete{
  background: url(../img/esporte7.png) center center;
  background-repeat: no-repeat;
}
.esportes-oito{
  background: url(../img/esporte8.png) center center;
  background-repeat: no-repeat;
}.esportes-nove{
  background: url(../img/esporte9.png) center center;
  background-repeat: no-repeat;
}.esportes-dez{
  background: url(../img/esporte10.png) center center;
  background-repeat: no-repeat;
}
.esportes-onze{
  background: url(../img/esporte11.png) center center;
  background-repeat: no-repeat;
}.esportes-doze{
  background: url(../img/esporte12.png) center center;
  background-repeat: no-repeat;
}
.btn-mostrar-mais-esportes{
  position: absolute;
  top: 150%;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  outline: none;
  padding: 1rem;
  background: #669933
}

/*DESKTOP*/
@media screen and (min-width: 840px){
  #icon-nav{
    display: none;
  }
  .btn-fechar-menu{
    display: none;
  }
  #barra-menu{
    display: flex;
    flex-direction: row;
    background: #fff;
    border: solid red;
  }
}
